In [7]:
import pandas as pd

In [8]:
# Define the file path
file_path = 'data-case/customer_data_comma.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)

display(df)

,Customer_ID,Name,Age,Street,City,State,Postal_Code,Phone_Number
0,CUST-EWLTWF,Customer_0,56,Ocean Drive 189,Riverside,TX,91962,+1-765-557-7254
1,CUST-QRWRCV,Customer_1,57,Main Street 108,Riverside,NY,43015,+1-606-593-4886
2,CUST-UAUBYI,Customer_2,70,Ocean Drive 38,Fairview,FL,67986,+1-846-846-9270
3,CUST-WINYRB,Customer_3,32,Highland Avenue 159,Riverside,NY,18001,+1-970-990-9652
4,CUST-TFEJMN,Customer_4,76,Highland Avenue 40,Fairview,TX,17037,+1-674-166-5609
...,...,...,...,...,...,...,...,...
995,CUST-VDSRHI,Customer_995,28,Main Street 46,Springfield,FL,98042,+1-624-417-9978
996,CUST-UASKJU,Customer_996,53,Sunset Boulevard 149,Riverside,IL,56064,+1-385-719-9195
997,CUST-KT0YZQ,Customer_997,43,Baker Street 74,Greenville,CA,64388,+1-413-949-1203
998,CUST-DXWBTH,Customer_998,65,Ocean Drive 55,Fairview,NY,76313,+1-291-701-7988
999,CUST-DVIFHD,NaN,29,Main Street 143,Greenville,TX,67540,+1-829-126-5621

In [10]:
df.shape

# We have 1000 customers and we have 8 columns

(1000, 8)

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Customer_ID   1000 non-null   object
 1   Name          984 non-null    object
 2   Age           1000 non-null   int64
 3   Street        1000 non-null   object
 4   City          1000 non-null   object
 5   State         1000 non-null   object
 6   Postal_Code   1000 non-null   int64
 7   Phone_Number  1000 non-null   object
dtypes: int64(2), object(6)
memory usage: 62.6+ KB
None

In [12]:
print(df.isnull().sum())
print(df.isnull().mean() * 100)

Customer_ID      0
Name            16
Age              0
Street           0
City             0
State            0
Postal_Code      0
Phone_Number     0
dtype: int64
Customer_ID     0.0
Name            1.6
Age             0.0
Street          0.0
City            0.0
State           0.0
Postal_Code     0.0
Phone_Number    0.0
dtype: float64

In [ ]:
# there's barely any missing values, only missing values for name

In [13]:
print(df.duplicated().sum())

0

In [14]:
print(df.dtypes)

Customer_ID     object
Name            object
Age              int64
Street          object
City            object
State           object
Postal_Code      int64
Phone_Number    object
dtype: object

In [15]:
print(df.describe())

               Age   Postal_Code
count  1000.000000   1000.000000
mean     49.974000  56785.917000
std      18.841718  25711.108857
min       5.000000  10020.000000
25%      35.000000  34886.500000
50%      50.000000  57043.500000
75%      65.250000  78452.500000
max     120.000000  99867.000000

In [ ]:
# Minimum age is 5, seems to be very low
# Maximum age is 120, seems to way to high

In [16]:
for col in df.columns:
    print(f"{col}: {df[col].nunique()} unique values")

Customer_ID: 994 unique values
Name: 984 unique values
Age: 65 unique values
Street: 626 unique values
City: 5 unique values
State: 5 unique values
Postal_Code: 995 unique values
Phone_Number: 1000 unique values

In [ ]:
# We have 1000 customers and we have 8 columns 

# there's barely any missing values, only missing values for name 

# Minimum age is 5, seems to be very low
# Maximum age is 120, seems to way to high 

# Name's are not actual names, but just numbers

# There's only 5 different states and 5 different cities 


# Wat kan je doen om de datakwaliteit te verbeteren? 
# Bronnen nakijken, o.a. kijken naar de leeftijd
# Namen zijn geen echte namen (of is de opdracht)
# namen aanpassen of anders dit als ID benoemen